.pokemon-list-item {
	width: 100%;
	box-sizing: border-box;
	background-color: lightgray;
	border-radius: 2em;
	padding: 24px;
	margin: 12px;
	display: flex;
	flex-direction: column;
	box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

	&:disabled {
		background-color: gray;
		box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
	}

	&:active {
		box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
	}

	.pokemon-container {
		display: flex;
		flex-direction: column;

		.pokemon-image {
			margin: 24px 20%;
			object-fit: content;
		}
	}

	.type-container {
		height: 100%;
		display: flex;
		justify-content: flex-end;
		flex-wrap: wrap;

		.type {
			margin: 4px;
			border-radius: 10%;
			padding: 8px;
		}
	}

	.pokemon-stats {
		display: none;
	}
}
