$tablet-width: 480px;
$desktop-width: 768px;

@font-face {
	font-family: "pokemon-font";
	src: local(""), url("./public/pokemon-font.ttf");
}

body {
	margin: 0;
	height: 100vh;
	font-family: "pokemon-font", sans-serif;

	#root {
		height: 100%;
	}

	a {
		text-decoration: none;

		&:visited {
			color: inherit;
		}
		&:link {
			color: inherit;
		}
	}

	section {
		padding: 16px;
	}
}

.basic-button {
	border-radius: 12px;
	border: none;
	justify-content: center;
	align-items: center;
	color: white;
	background-color: red;
	min-width: fit-content;
	padding: 0 16px;
	display: flex;
	height: 2.5em;
	font-weight: bold;
	font-family: "pokemon-font", sans-serif;
	box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

	&:disabled {
		background-color: gray;
		box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
	}

	&:active {
		box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
	}
}

.basic-input {
	border-radius: 5px;
	padding: 0 16px;
	height: 2.5em;
	font-family: "pokemon-font", sans-serif;

	&:focus {
		outline: 2px ridge red;
	}
}

.type-color {
	&--normal {
		background-color: #a8a878;
		color: white;
	}
	&--fighting {
		background-color: #c03028;
		color: white;
	}
	&--flying {
		background-color: #a890f0;
		color: white;
	}
	&--poison {
		background-color: #a040a0;
		color: white;
	}
	&--ground {
		background-color: #e0c068;
		color: white;
	}
	&--rock {
		background-color: #b8a038;
		color: white;
	}
	&--bug {
		background-color: #a8b820;
		color: white;
	}
	&--ghost {
		background-color: #705898;
		color: white;
	}
	&--steel {
		background-color: #b8b8d0;
		color: white;
	}
	&--fire {
		background-color: #f08030;
		color: white;
	}
	&--water {
		background-color: #6890f0;
		color: white;
	}
	&--grass {
		background-color: #78c850;
		color: white;
	}
	&--electric {
		background-color: #f8d030;
		color: white;
	}
	&--psychic {
		background-color: #f85888;
		color: white;
	}
	&--ice {
		background-color: #98d8d8;
		color: white;
	}
	&--dragon {
		background-color: #7038f8;
		color: white;
	}
	&--dark {
		background-color: #705848;
		color: white;
	}
	&--fairy {
		background-color: #f0b6bc;
		color: white;
	}
	&--unknown {
		background-color: #6aa596;
		color: white;
	}
	&--shadow {
		background-color: #705898;
		color: white;
		color: #be7147;
	}
}

@mixin tablet {
	@media (min-width: #{$tablet-width}) {
		@content;
	}
}

@mixin desktop {
	@media (min-width: #{$desktop-width}) {
		@content;
	}
}
