body {
	margin: 0;
	height: 100vh;

	#root {
		height: 100%;
	}

	a {
		text-decoration: none;

		&:visited {
			color: inherit;
		}
		&:link {
			color: inherit;
		}
	}
}

.basic-button {
	border-radius: 12px;
	justify-content: center;
	align-items: center;
	color: white !important;
	background-color: red;
	min-width: fit-content;
	padding: 0 16px;
	display: flex;
	height: 2.5em;
	font-weight: bold;
}
