@use "/base";

.profile {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-content: center;
	background-color: lightgray;
	border-radius: 0 0 15% 15%;
	box-shadow: 0.13rem 0.2rem 0.13rem black;
	padding: 0;

	.name {
		box-sizing: border-box;
		max-width: 100%;
		margin: 3rem 0 0;
		text-align: center;
		font-size: 2rem;
	}

	.picture {
		aspect-ratio: 1;
		display: block;
		width: 70%;
		margin: 0 auto;
	}

	@include base.tablet {
		.name {
			font-size: 3rem;
		}

		.picture {
			aspect-ratio: 1;
			display: block;
			width: 40%;
			margin: 0 auto;
		}
	}

	// @include base.desktop {
	// }
}
