.profile {
	flex-grow: 1;
	flex-basis: max-content;

	.picture {
		background-color: lightgray;
		border-radius: 15%;
		aspect-ratio: 1;
		flex-grow: 1;
		object-fit: contain;
		margin: 0 auto;
		display: block;
		box-shadow: 0.13rem 0.2rem 0.13rem black;
		width: 100%;
	}

	.name {
		box-sizing: border-box;
		max-width: 100%;
		margin: 1rem;
		text-align: center;
	}
}
