.main-page {
	padding: 1.5rem;
	box-shadow: red 0 0 1rem 0.3rem inset;

	.main-introduction {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		background-color: red;
		box-shadow: red 0 0 1rem 0.3rem;
		margin: -1.5rem -1.5rem 1.5rem -1.5rem;

		.title {
			font-size: 2rem;
		}

		.subtitle {
			font-size: 1.5rem;
		}
	}
}
