.pokemon-list-item {
	background-color: white;
	border-radius: 2em;
	padding: 24px;
	margin: 12px;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;

	.type-container {
		height: 100%;
		display: flex;

		.type {
			margin: 4px;
			border-radius: 10%;
			padding: 4px 6px;
		}
	}
}
