.stats {
	justify-content: space-between;
	column-gap: 1.5rem;
	box-shadow: rgba(255, 255, 255, 0.2) 0 0 0 1px inset, rgba(0, 0, 0, 0.9) 0 0 0 1px;
	width: 80%;

	.title {
		font-size: 1rem;
	}

	.stat-container {
		.stat {
			font-size: 0.7rem;
		}
	}
}
