.page-not-found {
	background-color: lightgray;
	padding: 24px 0;
	height: 100%;

	.title {
		margin: 0;
		text-align: center;
		font-size: 28px;
	}

	.image-container {
		width: 80%;
		height: fit-content;
		margin: 48px auto;
		box-sizing: border-box;
		.image {
			height: 100%;
			width: 100%;
			object-fit: contain;
		}
	}

	.button {
		width: 80%;
		margin: 16px 10%;
		position: fixed;
		bottom: 0;
	}
}
