.page-not-found {
	background-color: lightgray;
	height: 100%;
	overflow: hidden;

	.title {
		margin: 3rem 0;
		text-align: center;
		font-size: 1.5rem;
	}

	.subtitle {
		margin: 1.5rem 0;
		text-align: center;
		font-size: 1rem;
	}

	.image-container {
		width: 80%;
		margin: 3rem auto;

		.image {
			height: 100%;
			width: 100%;
			object-fit: contain;
		}
	}

	.button {
		width: 80%;
		margin: 1rem auto;
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
	}
}
